<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SauceDemo Full Regression Suite" verbose="1" parallel="classes" thread-count="3">

    <listeners>
        <listener class-name="com.saucedemo.listeners.ExtentReportListener"/>
        <listener class-name="com.saucedemo.listeners.TestRetryListener"/>
    </listeners>

    <test name="Login Tests">
        <classes>
            <class name="com.saucedemo.tests.LoginTest"/>
        </classes>
    </test>

    <test name="Product Tests">
        <classes>
            <class name="com.saucedemo.tests.ProductTest"/>
        </classes>
    </test>

    <test name="Cart Tests">
        <classes>
            <class name="com.saucedemo.tests.CartTest"/>
        </classes>
    </test>

    <test name="Checkout Tests">
        <classes>
            <class name="com.saucedemo.tests.CheckoutTest"/>
        </classes>
    </test>

    <test name="Sorting and Filter Tests">
        <classes>
            <class name="com.saucedemo.tests.SortingTest"/>
        </classes>
    </test>

    <test name="Navigation Tests">
        <classes>
            <class name="com.saucedemo.tests.NavigationTest"/>
        </classes>
    </test>

    <test name="Logout Tests">
        <classes>
            <class name="com.saucedemo.tests.LogoutTest"/>
        </classes>
    </test>

</suite>
